body {
    position: relative;
}
#Reviews
{
padding-top:50px;
height:500px;
background: url('review.jpg');
z-index=1;
opacity:0.8;
color: #fff;
}
#section4 {padding-top:50px;height:500px;color: #fff; background-color: #193040;}
.container {
    padding: 80px 120px;
}

.carousel-inner img {
    width: 100%;
    margin-top: 50px;
}
.carousel-caption h3 {
    color: #fff !important;
  }